= content_for(:title, "Change History")

%section#main.c-changelog
  %h1.heading-large
    = "#{I18n.t('common.header.app_title')}: #{yield(:title)}"

  %h2.heading-medium April 2023 &ndash; Changes to local authority geography in England

  %p
    The Office for National Statistics (ONS) will make the following
    changes to local authority geography in England.

  %table.u-documentation-table
    %thead
      %tr
        %th
          Former local authorities
        %th
          New structure and geography code
        %th
          Data and publication date
    %tbody
      %tr
        %td
          Carlisle (E07000028), Allerdale (E07000026), and Copeland (E07000029)
        %td
          Cumberland (E06000063)
        %td
          April 2023 release (release date 19 April 2023)
      %tr
        %td
          Eden (E07000030), Barrow-In-Furness (E07000027), and South Lakeland (E07000031)
        %td
          Westmorland and Furness (E06000064)
        %td
          April 2023 release (release date 19 April 2023)
      %tr
        %td
          Hambleton (E07000164), Harrogate (E07000165), Scarborough (E07000168), Richmondshire (E07000166), Ryedale (E07000167), Selby (E07000169), and Craven (E07000163)
        %td
          North Yorkshire (E06000065)
        %td
          April 2023 release (release date 19 April 2023)
  %br
  %p
    One of the England region's has changed ONS GSS code since this service
    has first set up. While users of the app will see the new name reflected in
    the location search and the map selector, users who utilise the SPARQL query
    function should be aware that the data URI for re-named areas has not changed.

  %ul.list.list-bullet
    %li
      Somerset
      %br
      ONS GSS code: E06000066 (formerly E10000027)
      %br
      The URI remains
      %code http://landregistry.data.gov.uk/id/region/somerset

  %p Date of change: 19th April 2023

  %h2.heading-medium April 2021 &ndash; Changes to local authority geography in England

  %p
    The Office for National Statistics (ONS) will make the following
    changes to local authority geography in England.

  %table.u-documentation-table
    %thead
      %tr
        %th
          Former local authorities
        %th
          New structure and geography code
        %th
          Data and publication date
    %tbody
      %tr
        %td
          Northamptonshire (E10000021), Kettering (E07000153), Wellingborough (E07000156), East Northamptonshire (E07000152), and Corby (E07000150)
        %td
          North Northamptonshire (E06000061)
        %td
          October 2021 release (release date 7 October 2021)
      %tr
        %td
          Daventry (E07000151), Northampton (E07000154), and South Northamptonshire (E07000155)
        %td
          West Northamptonshire (E06000062)
        %td
          October 2021 release (release date 7 October 2021)

  %p Date of change: 18th April 2021

  %h2.heading-medium April 2020 &ndash; Changes to local authority geography in England and Scotland

  %p
    The Office for National Statistics (ONS) will make the following
    changes to local authority geography in England and Scotland.

  %table.u-documentation-table
    %thead
      %tr
        %th
          Former local authorities
        %th
          New structure and geography code
        %th
          Data and publication date
    %tbody
      %tr
        %td
          Northamptonshire (E10000021), Kettering (E07000153), Wellingborough (E07000156), East Northamptonshire (E07000152), and Corby (E07000150)
        %td
          North Northamptonshire (E06000061)
        %td
          October 2021 release (release date 7 October 2021)
      %tr
        %td
          Daventry (E07000151), Northampton (E07000154), and South Northamptonshire (E07000155)
        %td
          West Northamptonshire (E06000062)
        %td
          October 2021 release (release date 7 October 2021)

  %p Date of change: 18th April 2021


  %h2.heading-medium April 2020 &ndash; Changes to local authority geography in England and Scotland

  %p
    The Office for National Statistics (ONS) will make the following
    changes to local authority geography in England and Scotland.

  %table.u-documentation-table
    %thead
      %tr
        %th
          Former local authorities
        %th
          New structure and geography code
        %th
          Data and publication date
    %tbody
      %tr
        %td
          Aylesbury Vale (E07000004), Chiltern (E07000005), South Bucks (E07000006) and Wycombe (E07000007)
        %td
          Buckinghamshire (E06000060)
        %td
          November 2020 release (release date 20 January 2021)
      %tr
        %td
          Bournemouth (E06000028), Christchurch (E07000048), Poole (E06000029)
        %td
          Bournemouth, Christchurch and Poole (E06000058)
        %td
          February 2020 (to be published on 22 April 2020)
      %tr
        %td
          East Dorset (E07000049), North Dorset (E07000050), Purbeck (E07000051), West Dorset (E07000052), Weymouth and Portland (E07000053)
        %td
          Dorset (E06000059)
        %td
          February 2020 (to be published on 22 April 2020)
      %tr
        %td
          Taunton Deane (E07000190), West Somerset (E07000191)
        %td
          Somerset West and Taunton (E07000246)
        %td
          February 2020 (to be published on 22 April 2020)
      %tr
        %td
          Forest Heath (E07000201), St Edmundsbury (E07000204)
        %td
          West Suffolk (E07000245)
        %td
          February 2020 (to be published on 22 April 2020)
      %tr
        %td
          Suffolk Coastal (E07000205), Waveney (E07000206)
        %td
          East Suffolk (E07000244)
        %td
          February 2020 (to be published on 22 April 2020)
      %tr
        %td
          City of Glasgow (S12000046)
        %td
          City of Glasgow* (S12000049)
        %td
          February 2020 (to be published on 22 April 2020)
      %tr
        %td
          North Lanarkshire (S12000044)
        %td
          North Lanarkshire* (S12000050)
        %td
          February 2020 (to be published on 22 April 2020)
      %tr
        %td
          Aylesbury Vale (E07000004), Chiltern (E07000005), South Bucks (E07000006), Wycombe (E07000007)
        %td
          Buckinghamshire (E06000060)
        %td
          April 2020 (to be published on 17 June 2020)

  %h2.heading-medium April 2019 &ndash; UK and Scotland changes
  %p
    One of the England regions has officially changed name, and two of the Scotland
    regions have changed ONS GSS code since this service was first set up. While
    users of the app will see the new name reflected in the location search
    and the map selector, users who utilise the SPARQL query function should
    be aware that the data URI for a re-named area has not changed.

  %p The new local authority name is:

  %ul.list.list-bullet
    %li
      Folkestone and Hythe (formerly Shepway),
      %br
      the URI remains:
      %code http://landregistry.data.gov.uk/id/region/shepway

  %p In Scotland:
  %ul.list.list-bullet
    %li
      Fife
      %br
      ONS GSS code: S12000047 (formerly S12000015),
      %br
      the URI remains
      %code http://landregistry.data.gov.uk/doc/region/fife
    %li
      Perth and Kinross
      %br
      ONS GSS code: S12000048 (formerly S12000024),
      %br
      the URI remains
      %code
        http://landregistry.data.gov.uk/doc/region/perth-and-kinross

  %p Date of change: 17th April 2019


  %h2.heading-medium August 2017 &ndash; Northern Ireland changes
  %p
    Three of the Northern Ireland regions have officially
    changed name since this service
    was first set up. While users of the app will see the new names reflected in the
    location search and the map selector, users who utilise the SPARQL
    query function should be aware the data URI for a re-named area has not changed.
    The new local authority names are:

  %ul.list.list-bullet
    %li
      Ards and North Down (formerly North Down and Ards), the URI remains:
      %code http://landregistry.data.gov.uk/id/region/north-down-and-ards
    %li
      Armagh City Banbridge and Craigavon (formerly Armagh Bainbridge and Craigavon),
      the URI remains
      %code http://landregistry.data.gov.uk/doc/region/armagh-banbridge-and-craigavon
    %li
      Derry City and Strabane (formerly Derry and Strabane), the URI remains
      %code http://landregistry.data.gov.uk/doc/region/derry-and-strabane
