= content_for(:title, "Hanes Newid")

%section#main.c-changelog
  %h1.heading-large
    = I18n.t('common.header.app_title') + " : " + yield(:title)

  %h2.heading-medium Ebrill 2023 &ndash; Newidiadau i ddaearyddiaeth awdurdodau lleol yn Lloegr

  %p
    Bydd y Swyddfa Ystadegau Gwladol (ONS) yn gwneud y newidiadau canlynol i ddaearyddiaeth awdurdodau lleol yn Lloegr

  %table.u-documentation-table
    %thead
      %tr
        %th
          Cyn-awdurdodau lleol
        %th
          Strwythur a chod daearyddiaeth newydd
        %th
          Data a dyddiad cyhoeddi
    %tbody
      %tr
        %td
          Carlisle(E07000028), Allerdale (E07000026), a Copeland (E07000029)
        %td
          Cumberland (E06000063)
        %td
          Cyhoeddiad Ebrill 2023 (dyddiad cyhoeddi 19 Ebrill 2023)
      %tr
        %td
          Eden (E07000030), Barrow-In-Furness (E07000027), a De Lakeland (07000031)
        %td
          Westmorland and Furness (E06000064)
        %td
          Cyhoeddiad Ebrill 2023 (dyddiad cyhoeddi 19 Ebrill 2023)
      %tr
        %td
          Hambleton (07000164), Harrogate (E07000165), Scarborough (E07000168). Swydd Richmond (E07000166), Ryedale (E07000167). Selby (E07000169), a Craven (E07000163)
        %td
          Gogledd Swydd Efrog (E06000065)
        %td
          Cyhoeddiad Ebrill 2023 (dyddiad cyhoeddi 19 Ebrill 2023)
  %br
  %p
    Mae un o ranbarthau Lloegr wedi newid cod ONS GSS ers i&#8217;r gwasanaeth hwn gael ei sefydlu gyntaf. Er y bydd defnyddwyr yr ap yn gweld yr enw newydd wedi ei adlewyrchu yn y chwiliad lleoliad a&#8217;r dewisydd map, dylai defnyddwyr sy&#8217;n  defnyddio&#8217;r swyddogaeth ymholiad SPARQL fod yn ymwybodol nad yw&#8217;r data URI ar gyfer ardaloedd a ail-enwyd wedi newid.


  %ul.list.list-bullet
    %li
      Gwlad yr Haf
      %br
      Cod ONS GSS: E06000066 (E10000027 gynt)
      %br
      Mae&#8217;r URI yn parhau
      %code http://landregistry.data.gov.uk/id/region/somerset

  %p
    Dyddiad newid: 19 Ebrill 2023

  %h2.heading-medium Ebrill 2021 &ndash; Newidiadau i ddaearyddiaeth awdurdodau lleol yn Lloegr

  %p
    Bydd y Swyddfa Ystadegau Gwladol (ONS) yn gwneud y newidiadau canlynol i ddaearyddiaeth awdurdodau lleol yn Lloegr

  %table.u-documentation-table
    %thead
      %tr
        %th
          Cyn-awdurdodau lleol
        %th
          Strwythur a chod daearyddiaeth newydd
        %th
          Data a dyddiad cyhoeddi
    %tbody
      %tr
        %td
          Swydd Northampton (E10000021), Kettering (E07000153), Wellingborough (E07000156), Dwyrain Swydd Northampton (E07000152), a Corby (E07000150)
        %td
          Gogledd Swydd Efrog (E06000061)
        %td
          Cyhoeddiad Hydref 2021 (dyddiad cyhoeddi 7 Hydref)
      %tr
        %td
          Daventry (E07000151), Northampton (E07000154), a De Swydd Northampton (E07000155)
        %td
          Gorllewin Swydd Northampton (E06000062)
        %td
          Cyhoeddiad Hydref 2021 (dyddiad cyhoeddi 7 Hydref)

  %p Dyddiad newid: 18 Ebrill 2021

  %h2.heading-medium Ebrill 2020 &ndash; Newidiadau i ddaearyddiaeth awdurdod lleol yn Lloegr a&#8217;r Alban

  %p
    Bydd y Swyddfa Ystadegau Gwladol (ONS) yn gwneud y newidiadau canlynol i
    ddaearyddiaeth awdurdodau lleol yn Lloegr a&#8217;r Alban.

  %table.u-documentation-table
    %thead
      %tr
        %th
          Cyn-awdurdodau lleol
        %th
          Strwythur a chod daearyddiaeth newydd
        %th
          Data a dyddiad cyhoeddi
    %tbody
      %tr
        %td
          Aylesbury Vale (E07000004), Chiltern (E07000005), South Bucks (E07000006) a Wycombe (E07000007)
        %td
          Swydd Buckingham (E06000060)
        %td
          Cyhoeddiad Tachwedd 2020 (dyddiad cyhoeddi 20 Ionawr 2021)
      %tr
        %td
          Bournemouth (E06000028), Christchurch (E07000048), Poole (E06000029)
        %td
          Bournemouth, Christchurch a Poole (E06000058)
        %td
          Chwefror 2020 (i&#8217;w gyhoeddi ar 22 Ebrill 2020)
      %tr
        %td
          Dwyrain Dorset (E07000049), Gogledd Dorset (E07000050), Purbeck (E07000051), Gorllewin Dorset (E07000052), Weymouth a Portland (E07000053)
        %td
          Dorset (E06000059)
        %td
          Chwefror 2020 (i&#8217;w gyhoeddi ar 22 Ebrill 2020)
      %tr
        %td
          Taunton Deane (E07000190), Gorllewin Gwlad yr Haf (E07000191)
        %td
          Gorllewin Gwlad yr Haf a Taunton (E07000246)
        %td
          Chwefror 2020 (i&#8217;w gyhoeddi ar 22 Ebrill 2020)
      %tr
        %td
          Forest Heath (E07000201), St Edmundsbury (E07000204)
        %td
          Gorllewin Suffolk (E07000245)
        %td
          Chwefror 2020 (i&#8217;w gyhoeddi ar 22 Ebrill 2020)
      %tr
        %td
          Arfordir Suffolk (E07000205), Waveney (E07000206)
        %td
          Dwyrain Suffolk (E07000244)
        %td
          Chwefror 2020 (i&#8217;w gyhoeddi ar 22 Ebrill 2020)
      %tr
        %td
          Dinas Glasgow (S12000046)
        %td
          Dinas Glasgow* (S12000049)
        %td
          Chwefror 2020 (i&#8217;w gyhoeddi ar 22 Ebrill 2020)
      %tr
        %td
          Gogledd Swydd Lanark (S12000044)
        %td
          Gogledd Swydd Lanark* (S12000050)
        %td
          Chwefror 2020 (i&#8217;w gyhoeddi ar 22 Ebrill 2020)
      %tr
        %td
          Dyffryn Aylesbury (E07000004), Chiltern (E07000005), De Bucks (E07000006), Wycombe (E07000007)
        %td
          Swydd Buckingham (E06000060)
        %td
          Ebrill 2020 (i&#8217;w gyhoeddi ar 17 Mehefin 2020)

  %h2.heading-medium Ebrill 2019 &ndash; Newidiadau y Deyrnas Unedig a&#8217;r Alban
  %p
    Mae un o ranbarthau Lloegr wedi newid ei enw yn swyddogol, ac mae dau
    o ranbarthau&#8217;r Alban wedi newid cod ONS GSS ers i&#8217;r gwasanaeth hwn gael
    ei sefydlu gyntaf. Er y bydd defnyddwyr yr ap yn gweld yr enw newydd
    wedi ei adlewyrchu yn y chwiliad lleoliad a&#8217;r dewisydd map, dylai defnyddwyr
    sy&#8217;n  defnyddio&#8217;r swyddogaeth ymholi SPARQL fod yn ymwybodol nad yw data URI
    ar gyfer yr ardal a ail-enwyd wedi newid.

  %p Enw&#8217;r awdurdod lleol newydd yw:

  %ul.list.list-bullet
    %li
      Folkestone a Hythe (Shepway cyn hynny),
      %br
      mae&#8217;r URI yr un fath:
      %br
      %code http://landregistry.data.gov.uk/id/region/shepway

  %p Yn yr Alban:
  %ul.list.list-bullet
    %li
      Fife
      %br
      cod ONS GSS: S12000047 (S12000015 cyn hynny),
      %br
      mae&#8217;r URI yr un fath:
      %code http://landregistry.data.gov.uk/doc/region/fife
    %li
      Perth a Kinross
      %br
      cod ONS GSS: S12000048 (S12000024 cyn hynny),
      %br
      mae&#8217;r URI yr un fath:
      %code
        http://landregistry.data.gov.uk/doc/region/perth-and-kinross

  %p Dyddiad newid: 17 Ebrill 2019


  %h2.heading-medium Awst 2017 &ndash; Newidiadau Gogledd Iwerddon
  %p
    Mae tri o ranbarthau Gogledd Iwerddon wedi newid eu henwau yn
    swyddogol ers i&#8217;r gwasanaeth hwn gael ei sefydlu gyntaf. Er y
    bydd defnyddwyr yr ap yn gweld yr enwau newydd wedi eu hadlewyrchu
    yn y chwiliad lleoliad a&#8217;r dewisydd map, dylai defnyddwyr sy&#8217;n
    defnyddio&#8217;r swyddogaeth ymholi SPARQL fod yn ymwybodol nad yw data
    URI ar gyfer yr ardal a ail-enwyd wedi newid. Enwau&#8217;r awdurdod
    lleol newydd yw:

  %ul.list.list-bullet
    %li
      Ards a Gogledd Down (Gogledd Down ac Ards cyn hynny), mae&#8217;r URI yr un fath:
      %br
      %code http://landregistry.data.gov.uk/id/region/north-down-and-ards
    %li
      Dinas Armagh Banbridge a Craigavon (Armagh Bainbridge a Craigavon cyn hynny),
      mae&#8217;r URI yr un fath:
      %br
      %code http://landregistry.data.gov.uk/doc/region/armagh-banbridge-and-craigavon
    %li
      Dinas Derry a Strabane (Derry a Strabane cyn hynny), mae&#8217;r URI yr un fath:
      %br
      %code http://landregistry.data.gov.uk/doc/region/derry-and-strabane
