%section#main.c-changelog
  %h1.heading-large UK House Price Index: change history

  %pre
    Ch-ch-ch-ch-changes
    Turn and face the strange
    Ch-ch-changes
    Don't want to be a richer man
    Ch-ch-ch-ch-changes
    Turn and face the strange
    Ch-ch-changes
    There's gonna have to be a different man
    Time may change me
    But I can't trace time
