%article
  %h1
    = t( "index.main_heading" )
    %span.js-heading-location

  = render partial: @exploration_state.partial_name( :header )
  = render partial: "search_state_reveal"
  = render partial: @exploration_state.partial_name( :body )
