.row
  .col-sm-12.col-md-6
    .form-group
      %label.control-label{ for: "from" }
        = t( "index.from" )
        #fromdatepicker.input-group.date
          %span.input-group-addon
            %input{ type: "text", name: "from", value: @exploration_state.preference( :from )}
            %span.fa.fa-calendar

  .col-sm-12.col-md-6
    .form-group
      %label.control-label{ for: "to" }
        = t( "index.to" )
        #todatepicker.input-group.date
          %span.input-group-addon
            %input{ type: "text", name: "to", value: @exploration_state.preference( :to )}
            %span.fa.fa-calendar
