.c-results.js-hidden
  %h2.c-graphs-heading.sr-only Graphs

  .js-graph.average-price.hidden
    %svg

  .js-graph.house-price-index.hidden
    %svg

  .js-graph.percentage-monthly-change.hidden
    %svg

  .js-graph.percentage-yearly-change.hidden
    %svg

  %h2.c-table-heading Data

  %table#results-table.table.table-striped
