%article.c-results.js-hidden
  %section.c-graphs
    %h2.c-graphs--heading.sr-only Graphs

    .js-graph.average-price.hidden
      %h2.c-graph-heading
        Average price<span></span>
      = render partial: "graphs_key"
      %svg

    .js-graph.house-price-index.hidden
      %h2.c-graph-heading
        House price index<span></span>
      = render partial: "graphs_key"
      %svg

    .js-graph.percentage-monthly-change.hidden
      %h2.c-graph-heading
        Percentage monthly change<span></span>
      = render partial: "graphs_key"
      %svg

    .js-graph.percentage-annual-change.hidden
      %h2.c-graph-heading
        Percentage annual change<span></span>
      = render partial: "graphs_key"
      %svg

    .js-graph.sales-volume.hidden
      %h2.c-graph-heading
        Total sales volume
      %svg

  %section.c-table
    %h2.c-table--heading Data

    %p
      %button.c-change-table-view.c-action
        %i.fa.fa-table
        %span
          Show multi-column table view

    .c-results-table-container
      %table#results-table.table.table-striped
