%div.c-graph-key
  %strong Key:
  %ul.list-inline.c-graph-key--list
    %li.key-overall.key-.hidden
      %i.fa.fa-circle.overall.v-smaller
      all property types
    %li.key-detached.hidden
      %i.fa.fa-stop.v-diamond.detached.v-smaller
      detached houses
    %li.key-semi-detached.hidden
      %i.fa.fa-stop.semi-detached.v-smaller
      semi-detached houses
    %li.key-terraced.hidden
      %i.fa.fa-caret-down.terraced.v-larger
      terraced houses
    %li.key-flat-maisonette.hidden
      %i.fa.fa-caret-up.flat-maisonette.v-larger
      flats and maisonettes
.js-graph-note.c-graph-note
