- prefs = @exploration_state.prefs
= form_tag( {controller: :exploration, action: :new}, method: "get", class: "c-preferences-form u-print-hidden", id: "preferences-js" ) do
  .row
    .col-sm-12
      %ul.nav.nav-tabs.js-preferences
        %li.active
          %a{ href: "#location", data: {toggle: "tab"}}
            select location
        %li
          %a{ href: "#dates", data: {toggle: "tab"}}
            select dates
        %li
          %a{ href: "#indicators", data: {toggle: "tab"}}
            change property types and report options
    .col-sm-12
      .tab-content
        #location.tab-pane.active
          = render partial: "location_preferences_tab", locals: {prefs: prefs}
        #dates.tab-pane
          = render partial: "dates_preferences_tab", locals: {prefs: prefs}
        #indicators.tab-pane
          = render partial: "indicators_preferences_tab", locals: {prefs: prefs}
