.row
  .col-sm-12.col-md-6
    .form-group
      %label.control-label{ for: "region" }
        = t( "index.location" )
      - region = @exploration_state.preference( :region )
      - region_name = @exploration_state.lookup_region(region ).label
      %input.js-location-uri{ type: "hidden", name: "region", value: region}
      %input.form-control.js-location.typeahead{ type: "text", id: "region", value: region_name }
  .col-sm-12.col-md-6
    #map.c-map
