%section
  .c-location-types
    %ul.list-inline
      %li.c-location-types--option
        %label.c-location-types--label
          %input.js-location-type{ type: "radio", name: "location-type", value: "country", checked: true }
          countries
      %li.c-location-types--option
        %label.c-location-types--label
          %input.js-location-type{ type: "radio", name: "location-type", value: "region" }
          regions
      %li.c-location-types--option
        %label.c-location-types--label
          %input.js-location-type{ type: "radio", name: "location-type", value: "county" }
          counties and unitary authorities
      %li.c-location-types--option
        %label.c-location-types--label
          %input.js-location-type{ type: "radio", name: "location-type", value: "local-authority" }
          local authorities
  .row
    .col-sm-12.col-md-6
      .form-group.c-location-search.country
        %ul.list-unstyled
          %li
            %label.c-location-search--label
              %input.js-location-choice{ type: "radio", name: "region", value: "United Kingdom" }
              United Kingdom
          %li
            %label.c-location-search--label
              %input.js-location-choice{ type: "radio", name: "region", value: "Great Britain" }
              Great Britain
          %li
            %label.c-location-search--label
              %input.js-location-choice{ type: "radio", name: "region", value: "England and Wales" }
              England and Wales
          %li
            %label.c-location-search--label
              %input.js-location-choice{ type: "radio", name: "region", value: "England" }
              England
          %li
            %label.c-location-search--label
              %input.js-location-choice{ type: "radio", name: "region", value: "Scotland" }
              Scotland
          %li
            %label.c-location-search--label
              %input.js-location-choice{ type: "radio", name: "region", value: "Wales" }
              Wales
          %li
            %label.c-location-search--label
              %input.js-location-choice{ type: "radio", name: "region", value: "Northern Ireland" }
              Northern Ireland

      .form-group.c-location-search.region.hidden
        %ul.list-unstyled
          %li
            %label.c-location-search--label
              %input.js-location-choice{ type: "radio", name: "region", value: "East of England" }
              East of England
          %li
            %label.c-location-search--label
              %input.js-location-choice{ type: "radio", name: "region", value: "East Midlands" }
              East Midlands
          %li
            %label.c-location-search--label
              %input.js-location-choice{ type: "radio", name: "region", value: "London" }
              London
          %li
            %label.c-location-search--label
              %input.js-location-choice{ type: "radio", name: "region", value: "North East" }
              North East
          %li
            %label.c-location-search--label
              %input.js-location-choice{ type: "radio", name: "region", value: "South East" }
              South East
          %li
            %label.c-location-search--label
              %input.js-location-choice{ type: "radio", name: "region", value: "South West" }
              South West
          %li
            %label.c-location-search--label
              %input.js-location-choice{ type: "radio", name: "region", value: "West Midlands" }
              West Midlands
          %li
            %label.c-location-search--label
              %input.js-location-choice{ type: "radio", name: "region", value: "Yorkshire and the Humber" }
              Yorkshire and the Humber


      .form-group.c-location-search.county.local-authority.hidden
        %label.control-label{ for: "region" }
          Search
        - region = @exploration_state.preference( :region )
        - region_name = @exploration_state.lookup_region(region ).label
        %input.js-location-uri{ type: "hidden", name: "region", value: region}
        %input.form-control.js-location.typeahead{ type: "text", id: "region", value: region_name }
    .col-sm-12.col-md-6
      #map.c-map
