%h2 Results

%table.table.table-striped
  %thead
    %tr
      %th
        Date
      %th
        Indicator
      %th
        Value
  %tbody
    - @exploration_state.query_results.each do |qr|
      - @exploration_state.visible_aspects.each_with_index do |aspect_name, i|
        - aspect = @exploration_state.aspect( aspect_name )
        %tr
          - if i == 0
            %td{rowspan: @exploration_state.visible_aspects.size}
              = qr["ukhpi:refPeriod"]["@value"]
          %td
            = aspect.label
          %td
            = qr[aspect.qname].first
