.js-reveal.reveal-block
  = t( "search_state.prompt" )
  %span.js-search-prompt

  %button.btn.btn-sm.btn-primary
    = t( "search_state.reveal_button_caption" )

.js-hidden
  = render partial: "hpi_search_form"
