%section
  %h1
    = t( "index.main_heading" )

  = render partial: @exploration_state.partial_name( :header )
  = render partial: "hpi_search_form"
  = render partial: @exploration_state.partial_name( :body )
