%h3.o-heading--3
  = t('browse.edit.search_results.title')
%p
  - sterm = view_state.user_selections.location_search_term
  - stype = view_state.user_selections.location_search_type
  = t('browse.edit.search_results.summary', sterm: sterm, stype: stype).html_safe

%ul
  - view_state.matched_locations[0..9].each do |location|
    %li
      %a{ href: view_state.with_location_path(location) }
        = location.label
  - if view_state.matched_locations.length > 10
    %li
      - n_more = view_state.matched_locations.length - 10
      = t('browse.edit.search_results.more', n_more: n_more).html_safe
