// from gov.uk front-end-toolkit
@import 'govuk_frontend_toolkit/stylesheets/colours';
// @import 'font_stack';
@import 'govuk_frontend_toolkit/stylesheets/measurements';
@import 'govuk_frontend_toolkit/stylesheets/conditionals';
@import 'govuk_frontend_toolkit/stylesheets/device-pixels';
@import 'govuk_frontend_toolkit/stylesheets/grid_layout';
@import 'govuk_frontend_toolkit/stylesheets/typography';
@import 'govuk_frontend_toolkit/stylesheets/shims';

@import 'govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta';
@import 'govuk_frontend_toolkit/stylesheets/design-patterns/buttons';
@import 'govuk_frontend_toolkit/stylesheets/design-patterns/breadcrumbs';

// GOV.UK elements

@import 'govuk-elements-sass/public/sass/elements/reset';

// Helper functions and classes
@import "govuk-elements-sass/public/sass/elements/helpers";

$govuk-brand-colour:	#1d70b8;
$govuk-brand-hover-colour:	#003078;

$grey-8: #f0f0f0;
$dark-blue: $govuk-brand-colour;
$dark-blue-hover: $govuk-brand-hover-colour;

// HTML elements, set by the GOV.UK template
@import "govuk-elements-sass/public/sass/elements/govuk-template-base";


@import 'govuk-elements-sass/public/sass/elements/layout';
@import 'govuk-elements-sass/public/sass/elements/elements-typography';
@import 'govuk-elements-sass/public/sass/elements/buttons';
// @import 'govuk-elements-sass/public/sass/elements/icons';
@import 'govuk-elements-sass/public/sass/elements/lists';
// @import 'govuk-elements-sass/public/sass/elements/tables';
@import 'govuk-elements-sass/public/sass/elements/details';
@import 'govuk-elements-sass/public/sass/elements/panels';
@import 'govuk-elements-sass/public/sass/elements/forms';
// @import 'govuk-elements-sass/public/sass/elements/forms/form-block-labels';
@import 'govuk-elements-sass/public/sass/elements/forms/form-date';
@import 'govuk-elements-sass/public/sass/elements/forms/form-validation';
@import 'govuk-elements-sass/public/sass/elements/breadcrumbs';
@import 'govuk-elements-sass/public/sass/elements/phase-banner';
@import 'govuk-elements-sass/public/sass/elements/components';
