#footer {
  margin-top: 3rem;

  .footer-meta .footer-meta-inner {
    width: 100% !important;
  }

  .footer-meta a {
    text-decoration: underline;
  }

  .footer-meta .footer-meta-inner .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 41px;
    height: 100%;
  }

  .footer-meta .footer-meta-inner .open-government-licence .logo a {
    background-image: url('../images/ogl-symbol-41px-black.png');
    display: block;
    width: 41px;
    height: 17px;
    overflow: hidden;
    text-indent: -999em;
  }

  .footer-meta .footer-meta-inner .open-government-licence p {
    margin: 0;
    padding-top: 0.1em;
  }

  .u-muted--footer {
    font-size: 11pt;
    color: #444;
    margin-top: 1em;
  }
}
