/* Styles for the copmare locations view */

.c-compare {
  &__locations {
    display: inline;
  }

  &__locations-list {
    list-style: none;
  }

  &__location {
    display: block;
  }

  .c-compare__locations-prompt {
    float: left
  }

  .c-compare__locations-list {
    margin-left: 10em;
  }

  table {
    width: 100%;

    td {
      text-align: right;
    }

    th {
      text-align: left;
    }

    th[scope='col'] {
      text-align: center;
    }

    .u-row-odd {
      background-color: $grey-3;
    }
  }

  .c-compare__choices td {
    text-align: center;
  }

}
