/* Styles for the copmare locations view */

.c-compare {
  &__locations {
    display: inline;
  }

  &__locations-list {
    list-style: none;
  }

  &__location {
    display: block;
  }

  .c-compare__locations-prompt {
    float: left
  }

  .c-compare__locations-list {
    margin-left: 10em;
  }

  table {
    width: 100%;

    td {
      text-align: right;
    }

    th {
      text-align: left;
    }

    th[scope='col'] {
      text-align: center;
    }

    .u-row-odd {
      background-color: $grey-3;
    }
  }

  .c-compare__choices td {
    text-align: center;
  }

}

.c-compare__selections {
  .c-compare__locations {
    list-style: none;

    .c-compare__location {
      display: inline-block;
      min-height: 2em;
      min-width: 8em;
      border: 1px solid $grey-2;
      border-radius: 5px;
      text-align: center;
      padding-top: 6px;
      margin-right: 0.5em;
      margin-top: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }

    &--modify {
      border: 0;
      background-color: white;
      cursor: pointer;
    }

  }

  .c-options-selection__dates {
    a, a:visited {
      color: $black;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
