/* Styles for a data-view component */

$options-panel-grey: #eef1f6;

.o-data-view {
  background-color: $grey-3;
  padding: 5px;
  margin-bottom: 15px;

  .o-heading--3 {
    margin: 0;
    border-bottom: 1px solid $grey-2;
  }

  &__hide-action {
    float: right;

    &.hide::after {
      content: '\f0aa';
      font-size: 18px;
      font-family: FontAwesome;
    }

    &.reveal::after {
      content: '\f0ab';
      font-size: 18px;
      font-family: FontAwesome;
    }
  }

  .o-data-view__options {
    margin-top: 5px;
    line-height: 1.5;
  }

  .o-data-view__options-statistics {
    font-size: 85%;
  }
}

.js .o-data-view__hide-action {
  font-size: 0;
  text-decoration: none;
}

.o-data-view--closed {
  .o-data-view__vue-root {
    display: none;
  }
}

.o-data-view__js-options {
  background-color: $options-panel-grey;
  padding: 5px;
  font-size: 16px;
  line-height: 25px;

  a, a:visited {
    color: $black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      background-color: inherit;
      outline-width: 1px !important;
      outline-style: dotted !important;
    }
  }


}
