.o-data-table {
  tbody tr:nth-child(odd) td {
    background-color: #fafafa;
  }

  td, th {
    font-size: 0.8em;
    padding: 0.2em 0.5em;
  }

  td {
    border-top: 1px solid #ddd;
  }

  .u-right {
    text-align: right;
  }

  .u-left {
    text-align: left;
  }
}