.o-data-view-download {
  background-color: white;
  padding: 5px;
  font-size: 90%;

  li {
    margin-bottom: 15px;
  }

  &__button {
    @extend .button;
    font-size: 1.5rem;
    text-decoration: none;
  }

  &__button, &__button:visited, &__button:link, &__button:focus, &__button:link:focus {
    color: white;
    background-color: $dark-blue;
  }
}

.c-compare__download-link {
  @extend .button;
  background-color: $dark-blue;
  font-size: 1.5rem;
}
