/* Adjustments to Element defaults */

@font-face {
    font-family: element-icons;
    src: asset-url('fonts/element-icons.woff') format('woff'), asset-url('fonts/element-icons.ttf') format('truetype');
    font-weight: 400;
    font-style: normal
}

.el-tabs__item {
  color: $black;

  &.is-active {
    color: $black;
  }

  &:hover {
    color: #20a0ff;
  }
}

.el-table .cell {
  word-break: normal;
  -ms-word-break: normal;
}

.el-button--default {
  background-color: $grey-8;
}

.el-button--primary {
  background-color: $dark-blue;
}

.el-date-editor {
  color: $black;
}

table.el-month-table {
  td .cell {
    color: $black;
  }

  td.current .cell {
    color: $black;
    background-color: $yellow-50;
  }

  td.current .cell:not(.disabled) {
    color: $black;
  }
}

.el-select-dropdown__item.selected {
  background-color: $dark-blue;
  color: white;
}