// from gov.uk front-end-toolkit
@import 'colours';
// @import 'font_stack';
@import 'measurements';
@import 'conditionals';
@import 'device-pixels';
@import 'grid_layout';
@import 'typography';
@import 'shims';

@import 'design-patterns/alpha-beta';
@import 'design-patterns/buttons';
@import 'design-patterns/breadcrumbs';

// GOV.UK elements

@import 'elements/reset';
@import "elements/helpers";                       // Helper functions and classes

$grey-8: #f0f0f0;
@import "elements/base";                       // HTML elements, set by the GOV.UK template


@import 'elements/layout';
@import 'elements/elements-typography';
@import 'elements/buttons';
// @import 'elements/icons';
@import 'elements/lists';
// @import 'elements/tables';
@import 'elements/details';
@import 'elements/panels';
@import 'elements/forms';
@import 'elements/forms/form-block-labels';
@import 'elements/forms/form-date';
@import 'elements/forms/form-validation';
@import 'elements/breadcrumbs';
@import 'elements/phase-banner';
@import 'elements/components';

