/* Styles for printing UKHPI */

@media print {
  .u-print-hidden {
    display: none !important;
  }

  .u-page-break-before {
    page-break-before: always;
  }

  footer a {
    text-decoration: none !important;
  }

  .o-print-view__data-table {
    font-size: 14px;
  }
}

.o-print-view {
  table {
    border-collapse: collapse;

    td, th {
      padding-left: 50px;
      border-bottom: 1px solid #ccc;
    }

    td {
      line-height: 1.75;
    }
  }
}

.o-data-view__table-print {
  display: flex;

  a {
    margin: 5px;
  }

  .o-print-action {
    font-size: 16px;
    margin-top: 15px;
  }
}
