/* Styles for printing UKHPI */

@media print {
  .u-print-hidden {
    display: none !important;
  }

  .u-page-break-before {
    page-break-before: always;
  }

  footer a {
    text-decoration: none !important;
  }
}

.o-print-view {
  table {
    width: 100%;

    td {
      border-bottom: 1px solid #ccc;
      line-height: 1.5;
    }
  }
}

.o-data-view__table-print {
  a {
    margin: 5px;
  }

  a, a:visited {
    color: white;
  }
}
