/* Very simple table layout for non-JS views. Table must function correctly if these
 * styles are switched off. */

.u-simple-table {
  width: 100%;
  background-color: white;

  td {
    text-align: right;
  }

  td:first-child {
    text-align: left;
  }

  th {
    text-align: center;
  }

  th.u-left {
    text-align: left;
  }

  th.u-right {
    text-align: right;
  }

  .u-row-odd {
    background-color: $grey-3;
  }
}

.u-documentation-table {
  @extend .u-simple-table;

  th {
    text-align: left;
    font-weight: bold;
  }

  td {
    text-align: left;
  }

  td, th {
    padding: 0.25em 0.25em 0.25em 0;
    border-bottom: 1px solid $grey-3;
  }
}