@import "lr-common";
@import
  'ukhpi-header',
  'ukhpi-typography';

/* settings */

/* elements */

/* components */

.o-request {
  margin-left: 1rem;
}

.c-preferences-form {
  font-size: 14px;

  .tab-content {
    padding: 10px;
    border-left: 1px solid $grey-3;
    border-right: 1px solid $grey-3;
    border-bottom: 1px solid $grey-3;
  }
}

.c-preferences-form--subheading {
  font-size: 15px;
  font-weight: bold;
}

.c-results-table--compact {
  @extend .v-scroll;

  font-size: 90%;

  table td {
    font-size: 14px !important;
  }

  table th {
    font-size: 14px;
    font-weight: normal;
  }
}

.js-reveal-button {
  i.fa {
    @extend .fa-angle-double-down;
    font-size: 14px;
  }

  .if-revealing {
    @extend .hidden;
  }
}

.js-reveal-button.revealing {
  i.fa {
    @extend .fa-angle-double-up;
    font-size: 14px;
  }

  .if-revealing {
    display: inline !important;
    visibility: visible;
  }

  .not-revealing {
    @extend .hidden;
  }
}

/* utilities */

.js-hidden {
}

.js .js-hidden {
  @extend .hidden;
}

.js-reveal {
  @extend .hidden;
}

.js .js-reveal {
  display: inline !important;
  visibility: visible;
}

.js .js-reveal.reveal-block {
  display: block !important;
}

/* surface */

.v-scroll {
  overflow: auto;
}

// override GDS default
a[rel="external"]:after {
  background-position: right 2px;
}
