@import "lr-common";

/* settings */

/* elements */

/* components */

.title-bar--h1 {
  font-size: 25px;
  margin: 10px 0;
}

.o-request {
  margin-left: 1rem;
}

/* utilities */

.js-hidden {
}

.js .js-hidden {
  @extend .hidden;
}

.js-reveal {
  @extend .hidden;
}

.js .js-reveal {
  display: inline !important;
  visibility: visible;
}

.js .js-reveal.reveal-block {
  display: block !important;
}

/* surface */
