@import "lr-common";

/* settings */

/* elements */

/* components */

.title-bar--h1 {
  font-size: 25px;
  margin: 10px 0;
}

.o-request {
  margin-left: 1rem;
}

.c-preferences-form {
  font-size: 14px;
}

.c-preferences-form--subheading {
  font-size: 15px;
  font-weight: bold;
}

.js-reveal-button {
  i.fa {
    @extend .fa-angle-double-down;
    font-size: 14px;
  }

  .if-revealing {
    @extend .hidden;
  }
}

.js-reveal-button.revealing {
  i.fa {
    @extend .fa-angle-double-up;
    font-size: 14px;
  }

  .if-revealing {
    display: inline !important;
    visibility: visible;
  }

  .not-revealing {
    @extend .hidden;
  }
}

/* utilities */

.js-hidden {
}

.js .js-hidden {
  @extend .hidden;
}

.js-reveal {
  @extend .hidden;
}

.js .js-reveal {
  display: inline !important;
  visibility: visible;
}

.js .js-reveal.reveal-block {
  display: block !important;
}

/* surface */
