.o-select-location {
  text-align: left;

  .el-dialog {
    &__body {
      padding: 5px 20px;
      color: #000000;
    }

    &__close {
      color: #000000;
      padding: 4px;
    }

    &__footer {
      .el-button--default {
        color: #000000;
      }
    }
  }

  .el-input__inner {
    border: 1px solid #9ea0a5;
  }

  .el-alert--warning.is-light {
    color: #a4742b;
  }

    }
  }
}
