.o-heading {
  &--1 {
    @extend .heading-large;
  }

  &--2 {
    @extend .heading-medium;
  }

  &--3, &--4 {
    @extend .heading-small;
  }
}

.u-muted {
  font-size: 90%;
  font-weight: normal;
  color: $grey-1;
}
