/* Styles for the map selection view */

.c-map {
  min-height: 300px;
  width: 100%;
  margin-top: 10px;

  .leaflet-container {
    width: 100%;
    min-width: 400px;
    height: 360px;
  }

  .el-radio-button__inner {
    font-size: 13px;
  }
}
