/* Styles for presenting statistics */

$graph-colours: (
  graph-0: $fuschia,
  graph-1: $light-blue,
  graph-2: $mellow-red,
  graph-3: $green,
  graph-4: $orange,
  graph-5: $purple
);

.o-statistic-option {
  height: 15px;
  width: 15px;
  border: 1px solid $black;
  margin-bottom: -2px;

  display: inline-block;
}

@for $i from 0 through 5 {
  .v-graph-#{$i} {
    background-color: map-get($graph-colours, graph-#{$i})
  }
}

.o-data-view__js-options-statistics {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  .checkbox-container {
    margin-right: 5px;
    cursor: pointer;
    input[type="checkbox"] {
      cursor: inherit;
    }
    img {
      max-height: 15px;
      margin-bottom: -1px;
    }
  }
}
