/* Utility classes */

/* Hide text, but keep it visible to screen readers */
.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.u-full-width {
  width: 100%;
}

.u-text-center, .u-text-centre {
  text-align: center;
}

/* Hide content that is going to be managed instead by JavaScript */
.js .u-js-hidden {
  display: none;
}

.u-js-only {
  display: none;
}

.js .u-js-only {
  display: block;
}

.u-pull-left {
  float: left;
}

.u-pull-right {
  float: right;
}
