
.c-search-result {
  a {
    @extend .btn;
    @extend .btn-primary;
  }
}

.c-results-list {
  @extend .list-inline;
}

.date .input-group-addon {
  background-color: inherit;
  border: 0;
  text-align: inherit;
}

// D3 graphs

$graphDefautColour: #DE5153;

$graphColours: (
  overall: $graphDefautColour,
  default: $graphDefautColour,
  detached: #377EB8,
  semi-detached: #72B971,
  terraced: #984EA3,
  flat-maisonette: #FF7F00,
  volume: #A65628
);

.js-graph svg {
  width: 100%;
  height: 200px;

  .axis {
    font-size: 11px;
    stroke: $grey-1;
  }

  path.domain {
    fill: none;
  }

  .c-graph-title {
    font-weight: normal;
    fill: $semi-black;
    stroke: none;
  }

  .c-y-axis-caption {
    font-size: 10px;
    fill: $grey-1;
  }

  .line {
    fill: none;
    stroke-width: 0.5;
    stroke: $graphDefautColour;
  }

  .point {
    fill: $graphDefautColour;
    stroke: none;
  }

  .bar {
    fill: $graphDefautColour;
    stroke: none;
  }

  @each $category, $colour in $graphColours {
    .line.#{$category} {
      stroke: $colour;
    }
    .point.#{$category} {
      fill: $colour;
    }
    .bar.#{$category} {
      fill: $colour;
    }
  }
}


// Bootstrap tables adjust
table.dataTable thead .sorting {
  background-image: none;
}
table.dataTable thead .sorting_asc {
  background-image: none;
}
table.dataTable thead .sorting_desc {
  background-image: none;
}
table.dataTable thead .sorting_asc_disabled {
  background-image: none
}
table.dataTable thead .sorting_desc_disabled {
  background-image: none;
}
