
.c-search-result {
  a {
    @extend .btn;
    @extend .btn-primary;
  }
}

.c-results-list {
  @extend .list-inline;
}

.date .input-group-addon {
  background-color: inherit;
  border: 0;
  text-align: inherit;
}

.search-prompt {
  margin-top: 1em;
  margin-bottom: 0.75em;
}

// D3 graphs

.c-graph-heading {
  margin-top: 28px;
  font-size: 16pt;
}

$graphDefaultColour: #377EB8;
$graphDetachedColour: #72B971;
$graphSemiDetachedColour: #984EA3;
$graphTerracedColour: #FF7F00;
$graphFlatMaisonetteColour: #DE5153;
$graphVolumeColour: #A65628;

$graphColours: (
  overall: $graphDefaultColour,
  default: $graphDefaultColour,
  detached: $graphDetachedColour,
  semi-detached: $graphSemiDetachedColour,
  terraced: $graphTerracedColour,
  flat-maisonette: $graphFlatMaisonetteColour,
  volume: $graphVolumeColour
);

.js-graph svg {
  width: 100%;
  height: 200px;

  .axis {
    font-size: 11px;
    stroke: $grey-1;
  }

  .y .tick line {
      stroke: lightgrey;
      opacity: 0.7;
  }

  path.domain {
    fill: none;
  }

  .c-graph-title {
    font-weight: normal;
    fill: $semi-black;
    stroke: none;
  }

  .c-y-axis-caption {
    font-size: 10px;
    fill: $grey-1;
  }

  .line {
    fill: none;
    stroke-width: 1.0;
    stroke: $graphDefaultColour;
  }

  .point {
    fill: $graphDefaultColour;
    stroke: none;
  }

  @each $category, $colour in $graphColours {
    .line.#{$category} {
      stroke: $colour;
    }
    .point.#{$category} {
      fill: $colour;
    }
    .bar.#{$category} {
      fill: $colour;
    }
  }

  .c-graph-overlay {
    fill: none;
    pointer-events: all;
  }

  .c-x-track {
    fill: none;
    stroke-width: 0.5;
    stroke: #999;
  }

  .c-x-track--g {
  }

  .c-x-track--title {
    font-size: 11px;
    fill: #555;
  }
}

.c-graph-note {
  font-size: 13px;
  color: $semi-black;
}

@each $category, $colour in $graphColours {
  .#{$category} {
    color: $colour;
  }
}

.c-graph-key {
  font-size: 12px;
}

.c-graph-key--list {
  display: inline-block;
}

.v-smaller {
  font-size: 75%;
}

.v-larger {
  font-size: 115%;
}

.v-diamond {
  transform: scaleX(0.6) rotate(45deg);
}

.c-preferences-form {
  margin-top: 12px;
}

// Map view

.c-map {
  width: 100%;
  min-height: 300px;
  margin-top: 20px;
}

.c-location-types {
  background-color: $green-25;
  width: 100%;
}

.c-location-types--option {
  padding: 0.5em 0 0.3em 1em;
  margin-left: 1em;
  margin-right: 2em;
  text-align: center;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
}

.c-location-types--label {
  font-weight: normal;
}

// Location search

.c-location-search.country, .c-location-search.region {
  padding-left: 1em;
  padding-top: 1em;
}

// Jquery datatables adjust
table.dataTable thead .sorting {
  background-image: none;
}
table.dataTable thead .sorting_asc {
  background-image: none;
}
table.dataTable thead .sorting_desc {
  background-image: none;
}
table.dataTable thead .sorting_asc_disabled {
  background-image: none
}
table.dataTable thead .sorting_desc_disabled {
  background-image: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  margin: 0;
  padding: 0;
}

.dt-button, button.dt-button, .dt-buttons a.dt-button {
  display: inline;
  @extend .c-action;
  border-radius: 0;
  background-image: none;
  padding-top: 7px;
  padding-bottom: 6px;
  margin-left: 20px;
  color: #333;
}
