// Place all the styles related to the report-design controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select-dates .row {
  margin-bottom: 1rem;
}

.o-map {
  width: 100%;
  min-height: 40rem;
  margin-top: 2.5rem;
}
