<div
  id="cookie-banner"
  class="cookie-banner"
  style="display: none"
>
  <h2
    class="cookie-banner__heading"
  >
    This site uses cookies
  </h2>
  <p
    class="cookie-banner__details"
  >
    Cookies are files stored on your computer, phone, or tablet.
    They help us understand how you use this site, like which pages you visit.
    <br/>
    For more information, view our
      <a
        href="#"
        target="_blank"
        rel="external"
        class="cookie-banner__statement-link"
      >
          cookie statement
        </span>
      </a>
  </p>
  <button
    class="cookie-banner__accept"
    onclick="acceptCookie()"
  >
    Accept additional cookies
  </button>
  <button
    class="cookie-banner__reject"
    onclick="rejectCookie()"
  >
    Reject additional cookies
  </button>
</div>