%footer#footer.footer.group.js-footer{:role => "contentinfo"}
  .container.o-container.footer-wrapper
    .footer-meta
      .footer-meta-inner
        %h2.o-footer--h2.hidden Support links
        %ul.list-inline
          %li
            %a{:href => "http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm"} © Crown copyright 2014&ndash;2015
          %li
            %a{:href => "https://www.gov.uk/government/organisations/land-registry/about/personal-information-charter"} Personal Information Charter
          %li
            %a{:href => "https://www.gov.uk/land-registry-public-data"} Land Registry Public Data
        .ogl.open-government-licence
          %p.logo
            %a{:href => "http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3", rel:"license"}
              Open Government Licence
          %p
            All content is available under the
            %a{:href => "http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3"} Open Government Licence v3.0
            except where otherwise stated

        .clearfix
