%header.with-proposition.c-hmlr-header#global-header
  .header-wrapper
    .header-global
      .header-logo
        %a.content{ href: '/app/ukhpi', title: 'Go to the UK HPI homepage' }
          = image_tag('ukhpi-icon.png', srcset: image_path('ukhpi-icon.svg'), alt: '')


    .header-proposition
      .content
        %a.js-header-toggle.menu{ href: '#proposition-links' } Menu
        %nav#proposition-menu
          %a#proposition-name{ href: '/app/ukhpi' }
            UK House Price Index

          %ul#proposition-links
            %li
              %a{ href: browse_path, class: active_class(browse_path) } browse
            %li
              %a{ href: compare_path, class: active_class(compare_path) } compare locations
            %li
              %a{ href: '/app/qonsole' } SPARQL query
            %li
              %a{ href: '/app/doc/ukhpi-user-guide' } user guide
            %li
              %a{ href: '/app/doc/ukhpi' } about UKHPI

.o-lr-top-bar

.container.o-container
  .o-beta-banner
    %p
      %strong.o-beta-tag BETA
      %span.text-muted
        This is a new service – your
        <a rel="external" href="mailto:data.services@landregistry.gov.uk">feedback</a>
        will help us to improve it.
